

$gray:#dddddd;
$drak: #000000;
$pink: #f8f2f6;
$drakgray:#aca9a9;
$white:#ffffff;
$aqua:rgb(64, 221, 221);
$red:#fc0000;
$graybase:#1d1c1c58;
$orange: #f47820;
$gray-base: #4c4c4d;
$black: #000;
$shadow-color:rgba(0,0,0,0.4);






