$font-size: 14px;
$primary-font-family: "Karla";
$secondary-font-family: "RobotoSlab";
$main-color: #f7f7f7;
$main-font-color: rgb(150, 150, 150);
$border-color: rgb(221, 221, 221);
$black-color: #000000;
$star-color: aqua;
$body-backgroud: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.18);
$border-shadow: rgba(0, 0, 0, 0.05);
$medium-width: 1000px;
$tablet-width: 800px;
$mobile-width: 590px;
$red-color: red;
