

$gray:#dddddd;
$drak: #000000;
$pink: #f8f2f6;
$drakgray:#aca9a9;
$white:#ffffff;
$aqua:rgb(64, 221, 221);
$red:#fc0000;
$graybase:#3c3c3c;



$margin-top:3rem;
$orange: #f47820;
$gray-base: #4c4c4d;
$black: #000;

$uppercase:uppercase;
$capitalize:capitalize;

$block:block;


