@mixin transition($transition...) {
    transition: $transition;
}
@mixin scale($x,$y) {
    transform: scale($x,$y);
}
@mixin rotateY($deg) {
    transform:rotateY($deg);
}
@mixin translate($x ,$y){
    transform: translate($x, $y);
}
@mixin translateX($x){ 
    transform: translateX($x);
}
@mixin translateY($y){  
    transform: translateY($y);
}
@mixin  background($size, $bakground...) {
        background: $bakground;
        background-size: $size;
}
//  for responsive 
@mixin media-screen($width) {
    @media only screen and (max-width: $width) {
      @content;
    }
  }
