@font-face {
    font-family: 'karla';
    src: url('../../assets/fonts/Karla-Regular.ttf') format('trueType'),
    url('../../assets/fonts/Karla-Regular.woff') format('woff');
    font-weight: normal;
}
@font-face {
    font-family: 'karla';
    src: url('../../assets/fonts/Karla-Bold.ttf') format('trueType'),
    url('../../assets/fonts/Karla-Bold.woff') format('woff');
    font-weight: bold;
}
@font-face {
    font-family: 'roboto-slab';
    src: url('../../assets/fonts/RobotoSlab-Bold.ttf') format('trueType'),
    url('../../assets/fonts/RobotoSlab-Bold.woff') format('woff');
    font-weight: 900;
}
@font-face {
    font-family: 'roboto-slab';
    src: url('../../assets/fonts/RobotoSlab-Regular.ttf') format('trueType'),
    url('../../assets/fonts/RobotoSlab-Regular.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: 'roboto-slab';
    src: url('../../assets/fonts/RobotoSlab-Light.ttf') format('trueType'),
    url('../../assets/fonts/RobotoSlab-Light.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'roboto-slab';
    src: url('../../assets/fonts/RobotoSlab-Thin.ttf') format('trueType'),
    url('../../assets/fonts/RobotoSlab-Thin.woff') format('woff');
    font-weight: 300;
}