

@mixin centerContent{
 display: flex;
 justify-content: center; 
 flex-direction: row;
 flex-wrap: wrap;
}
@mixin spaceContent{
  display: flex;
  justify-content: space-around;
}
@mixin betweenContent{
  display: flex;
  justify-content: space-between;
}
@mixin border {
  border: 0.16rem solid $drak;
  padding: 0.14rem 0.5rem;
  margin-left: 0.85rem;
  background: $pink; 
}
@mixin centerContentColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
@mixin transition($element,$time,$form) {
  transition: $element $time $form; 
}
@mixin scale($x,$y){
  transform: scale($x,$y);
}
@mixin rotatey($deg){
  transform: rotateY($deg);
}
@mixin translate($x,$y){
  transform: translate($x,$y);
}
@mixin inset($top,$right,$bottom,$left) {
  top:$top;
  right:$right;
  bottom: $bottom;
  left: $left;
  position: absolute;
  
}

@mixin backgroundCard($imgUrl) {
  background-image:url($imgUrl) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  
}
@mixin backgroundContain($imgUrl) {
  background-image:url($imgUrl) ;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  
}
@mixin arrow {
  top: 45%;
  transform: translateY(-50%);
  position: absolute;
  background: $white;
  padding: .4em .8em;
  color: $drakgray;
  
}

@mixin desktop {
  @media(max-width:992px){
    @content;
  }
}

@mixin tablet{
  @media(max-width:768px){
    @content;
  } 
 }
@mixin phonePlus {
  @media(max-width:578px){
    @content;
  }
  
}
@mixin phone {
  @media(max-width:491px){
    @content;
  }  
}


